<html>
	<head>
		<title>Home</title>
	<head>
	<body>
	<p>Assignments from 1006: </p><p></p>
	<p><b>Homework 1:</b></p>
	<p><b>Part A:</b> Consisted of several written excersises that 
	worked with binary numbers.<p>
	<p><b>Part B:</b> Consisted of two questions. The first implemented
	user interface and introduced basic list functions. The second had several
	algorithms involving list that we had to implement.</p>
	<p></p><p></p>
	<p><b>Homework 2:</b></p>
	<p><b>Part A:</b> Consisted of several written excersises that 
	dealt with basic searh algorithms and time complexities.<p>
	<p><b>Part B:</b> Had two main parts. The first part simulated a 
	projectile object using different models of gravity. The second part
	began to set up the Machine Learning analysis. In that part we learned
	how to work with CSV's and larger datasets.<p>
	<p></p><p></p>
	<p><b>Homework 3:</b></p>
	<p><b>Part A:</b> Required implementation of various recursive methods
	in Python code.<p>
	<p><b>Part B:</b>The first part of Part B modeled the percolation of liquid through a randomly generated
	matrix of blockages and openings. This assignment introduced us to numpy. The second part
    was a continuation of the Machine Learning project we began earlier. We split the CSV into
    testing and training sets and modified parts of the dataset.<p>
	<p></p><p></p>
	<p><b>Homework 4:</b></p>
    <p><b>Part A:</b>Dealt wit object-oriented programming (OOP). We used Python classes to
    model school classes, with teachers, students, and assignmetns. We utilized encapsulation, 
    polymorphism, and inheritance in this assignment. These are the three fundamental concepts
    of object-oriented programming.<p>
    <p></p><p></p>
    <p><b>The Midterm:</b></p>
    <p>Rather than a written exam, because of COVID-19, we had a project-based assignment for
    the midterm. In this assignment, we dealt with the PPM images. We programmed algorithms
    to filter an object out of an image, to flip the image horizontally, and to turn the image
    into black and white.</p>
    <p></p><p></p>
    <p><b>Homework 5:</b></p>
    <p><b>Part A:</b> This assignment completed the Machine Learning project. We worked with 
    several new Python libraries, like Pandas, scikit-learn, and Seaborn. We utilized these 
    libraries and wrote our own algorithms. By the end of this assignment, we could predict the
    results of a cancer test with  96% accuracy. So cool!</p>
    <p></p><p></p>
	<a href="/">Go Back to Home Page</a>
	<body>
</html>