<html>
	<head>
		<title>Home</title>
	<head>
	<body>
	<p>Assignments from 1006: </p>
	<p><b>Homework 1:</b></p>
	<p><b>Part A:</b> Consisted of several written excersises that 
	worked with binary numbers.<p>
	<p><b>Part B:</b> Consisted of two questions. The first implemented
	user interface and introduced basic list functions. The second had several
	algorithms involving list that we had to implement.</p>
	<p></p>
	<p><b>Homework 2:</b></p>
	<p><b>Part A:</b> Consisted of several written excersises that 
	dealt with basic searh algorithms and time complexities.<p>
	<p><b>Part B:</b> Had two main parts. The first part simulated a 
	projectile object using different models of gravity. The second part
	began to set up the Machine Learning analysis. In that part we learned
	how to work with CSV's and larger datasets.<p>
	<p></p>
	<p><b>Homework 3:</b></p>
	<a href="/">Go Back to Home Page</a>
	<body>
</html>