<html>
	<head>
		<title>Home</title>
	<head>
	<body>
	<p>Hello World!</p>
	<p>My Name is Tess Fallon. I am a freshman at Columbia University.
    My major is Electrical Engineering, and I am pursuing a minor in Biomedical Engineering. </p>
	<p><a href="https://www.amazon.com/">Visit My Favorite Website!</a> I have an issue with online shopping.</p>
	<p><a href="/classes">My current classes.</a>
	<p><a href="/assignments">Assignments for 1006.</a>
	<p><img src="/static/Picture_of_me.jpg" alt="Picture of Me"></p>
	
	<body>
</html>